#auth {
    margin: 3em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    max-width: 60em;
    padding: 1em;
    border-radius: .8em;

    background-color: var(--white);    
}

#auth > form {
    max-width: 20em;
    width: 100%;
    min-width: 16em;
    display: flex;
    flex-direction: column;
}

#auth > img {
    padding: 1em;
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* FORMS */
#auth > form {
    display: grid;
    gap: 1.2em;
    font-size: 1em;
    width: 50%;
}

#auth > form label {
    display: flex;
    flex-direction: column;
    align-content: start;
    font-size: .8rem;
    color: var(--dark-green);
}

#auth > form label > input {
    background-color: #FFF;
    border: none;
    box-shadow: 2px 3px 4px #00000017;
    border-radius: .5em;
    height: 2.9em;
    padding: 0 .8em;
}

#auth > form label > input:focus {
    outline: none;
}

#auth > form > a:last-of-type:hover {
    color: var(--dark-green);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--dark-green);
    border: 1px solid var(--dark-green);
}

#auth > form > a:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-weight: 400;
    font-size: .8rem;
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
    background-color: var(--white);
    height: 2.9em;
    border-radius: .5em;
}

#auth > form label#username {
    grid-area: 1/1;
}

#auth > form form label#password {
    grid-area: 2/1;
}


#auth > form > button {
    grid-area: 3/1;
}

#auth > form div.line-on-text {
    grid-area: 4/1;
}

#auth > form > div > form > a:last-of-type {
    grid-area: 5/1;
}

/* LINES */

div.line-on-text {
    overflow: hidden;
    text-align: center;
    color: var(--light-grey);
    font-size: .8em;
  }
  
div.line-on-text:before, div.line-on-text:after {
    background-color: var(--light-grey);
    content: "";
    display: inline-block;
    height: .5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

div.line-on-text:before {
    right: 0.4em;
    margin-left: -50%;
}

div.line-on-text:after {
    left: 0.4em;
    margin-right: -50%;
}


/* RESPONSIVE */
@media (max-width: 35em) {
    #auth > img {
        display: none;
    } 
}
