#lists {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin: auto;
}

#lists > img {
    max-width: 400px;
}

#lists > ul {
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 100%;
    max-width: 700px; 
    padding: 0;
}
#lists #no-list {
    display: block;
    text-align: center;
}

#lists .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 2px 3px 4px #00000017;
}

#lists .list-item a {
    color: var(--dark-green);
}

#add-list form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#add-list form input {
    width: 30%;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    color: var(--light-grey);
}