/* GENERAL */

@font-face {
    font-family: Shopify;
    src: url('/fonts/Shopify.ttf');
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
  

:root {
    --dark-green: #304700;
    --light-green: #F1F5E6;
    --light-grey: #C2C2C2;
    --orange: #f59a23;
    --white: #ffffff;
    --black: #000000;
  }

a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}

form label > input::placeholder {
    font-size: .8rem;
}

button {
    font-weight: 400;
    color: white;
    font-size: .8rem;
    background-color: var(--dark-green);
    border: 1px solid var(--dark-green);
    height: 2.9em;
    border-radius: .5em;
    transition: .3s;
}

button:hover{
    color: var(--dark-green);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--dark-green);
}
  

a {
    transition: .3s;
}
  

/* HOME */
  
body {
    background-color: var(--light-green);
    font-family: "Poppins", sans-serif;
}

header a i{
    color: var(--orange);
    margin: .5em;
    font-size: 2em;
    transition: .3s;
}

header a i:hover{
    color: var(--dark-green);
}

main h1{
    font-family: Shopify;
    font-size: 10em;
    color: var(--dark-green);
    text-align: center;
}

h2 {
    font-family: Shopify;
    font-size: 4em;
    color: var(--dark-green);
    text-align: center;
}

/* Home Buttons */
#home-btns {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#home-btns a {
    padding: 1em 2em;
    border-radius: 5px;
}

#home-btns #login-btn {
    background-color: var(--dark-green);
    color: var(--white);
}

#home-btns #register-btn {
    background-color: var(--white);
    color: var(--dark);
}

#home-btns #login-btn:hover, #home-btns #register-btn:hover {
    background-color: var(--orange);
    color: var(--white);
}